<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

    <typeAliases>
        <typeAlias alias="UserMapper2" type="cn.tedu.mybatis.demo2.mapper.UserMapper2" />
        <package name="cn.tedu.mybatis.demo2.pojo"/>
    </typeAliases>

    <!--环境配置标签-->
    <environments default="development">

        <!--编辑开发环境-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/jt?serverTimezone=GMT%2B8&amp;useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="adgjl[]\khfs/.,"/>
            </dataSource>
        </environment>
    </environments>

    <!--Mybatis加载Mapper映射文件-->
    <mappers>
        <mapper resource="mybatis/mappers/UserMapper.xml"/>
        <mapper resource="mybatis/mappers/UserMapper2.xml"/>
        <mapper resource="mybatis/mappers/DogMapper.xml"/>
        <mapper class="cn.tedu.mybatis.demo2.mapper.UserAnnoMapper"/>
    </mappers>

</configuration>