<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jt.mapper.UserMapper">

    <select id="findUserByPage" parameterType="map" resultType="User">
        select * from user
        <where>
            <if test="query != null and query != ''">
                username like concat('%',#{query},'%') or
                phone    like concat('%',#{query},'%') or
                email    like concat('%',#{query},'%')
            </if>
        </where>
        limit #{size} offset #{beginPage}
    </select>

</mapper>