<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是mybaits映射文件的唯一标识,与接口对应-->
<mapper namespace="cn.tedu.jt.ssm.mapper.UserMapper">
    <cache />

    <select id="findAll" resultType="cn.tedu.jt.ssm.pojo.User">
        select * from demo_user
    </select>

    <select id="findUserByIds" resultType="cn.tedu.jt.ssm.pojo.User">
        select * from demo_user
        where id in (
            <foreach collection="array" separator=", " item="id">
                #{id}
            </foreach>
        )
        order by id
    </select>

</mapper>
